<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="keywords" content="HTML, CSS" />
    <meta
      name="description"
      content="These are the exercises for the layout section of the class."
    />
    <title>HTML/CSS Part 2 - Layout</title>
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="/coding-practice/styles.css" />
  </head>
  <body>
    <div class="nav-bar">
      Alexandra Schmitt
      <ul class="nav-bar">
        <li class="nav-bar-items">
          <a href="/coding-practice/index.html">Home</a>
        </li>
        <li class="nav-bar-items">
          <a href="/coding-practice/aboutMe/aboutMe.html">About Me</a>
        </li>
        <li class="nav-bar-items">
          <a href="/coding-practice/resume/resume.html">Resume</a>
        </li>
      </ul>
    </div>

    <a href="../html-css2.html">Back to HTML/CSS Part 2</a>

    <div class="gallery">
      <img
        src="https://source.unsplash.com/collection/190727/800x600?1"
        alt="img"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?2"
        alt="img"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?3"
        alt="img"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?4"
        alt="img"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?5"
        alt="img"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?6"
        alt="img"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?7"
        alt="img"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?8"
        alt="img"
      />
      <img
        src="https://source.unsplash.com/collection/190727/800x600?9"
        alt="img"
      />
    </div>
  </body>
</html>
